# Dossiers de build et fichiers VS
.vs/
build/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user

# Fichiers temporaires
*.obj
*.exe
*.log
*.tmp
*.cache
*.pdb

# Ignore Visual Studio files
.vs/
build/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vcxproj.user
*.pdb
*.exe